@model Language_Courses.ViewModels.EmployesViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeViewModel.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeViewModel.NameEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeViewModel.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeViewModel.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeViewModel.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeViewModel.Stage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education.Stage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
