@model IEnumerable<Language_Courses.Models.Education>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
